# 依赖
node_modules/
.pnp/
.pnp.js

# 测试
coverage/
*.lcov

# 生产构建
dist/
dist-ssr/
*.local

# 编辑器
.idea/
.vscode/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 临时文件
*.tsbuildinfo
.cache/
.temp/

# Java 编译产物
target/
*.class
*.jar
*.war
*.ear
.claude/
