<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harbourbiomed.apex.datasync.mapper.CiTrackingInfoMapper">

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="list">
        INSERT INTO ci_tracking_info (
            drug_id, drug_name_en, drug_name_cn, 
            targets, targets_raw, disease_id, harbour_indication_name,
            ta, moa, originator, research_institute,
            global_highest_phase, global_highest_phase_score,
            indication_top_global_latest_stage, indication_top_global_start_date,
            highest_trial_id, highest_trial_phase, nct_id,
            data_source, sync_batch_id, synced_at, created_at
        ) VALUES
        <foreach collection="entities" item="entity" separator=",">
            (
                #{entity.drugId}, #{entity.drugNameEn}, #{entity.drugNameCn},
                #{entity.targets, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}, 
                #{entity.targetsRaw}, #{entity.diseaseId}, #{entity.harbourIndicationName},
                #{entity.ta}, #{entity.moa}, #{entity.originator}, #{entity.researchInstitute},
                #{entity.globalHighestPhase}, #{entity.globalHighestPhaseScore},
                #{entity.indicationTopGlobalLatestStage}, #{entity.indicationTopGlobalStartDate},
                #{entity.highestTrialId}, #{entity.highestTrialPhase}, #{entity.nctId},
                #{entity.dataSource}, #{entity.syncBatchId}, #{entity.syncedAt}, #{entity.createdAt}
            )
        </foreach>
    </insert>

    <!-- 删除指定批次的数据 -->
    <delete id="deleteByBatchId">
        DELETE FROM ci_tracking_info WHERE sync_batch_id = #{batchId}
    </delete>

</mapper>
